<% if (title) { %>
  <h1><%= title %></h1>
<% } %>

<!-- Flash Messages -->
<%- messages() %>

<p>Use the links below to add classifications or inventory items.</p>

<ul class="management-links">
  <li><a class="btn-primary" href="/inv/add-classification">Add New Classification</a></li>
  <li><a class="btn-primary" href="/inv/add-inventory">Add New Inventory</a></li>
</ul>
