<% if (title) { %>
  <h1><%= title %></h1>
<% } %>

<!-- Flash Messages -->
<%- messages() %>

<p>Use the links below to add classifications or inventory items.</p>

<ul class="management-links">
  <li><a class="btn-primary" href="/inv/add-classification">Add New Classification</a></li>
  <li><a class="btn-primary" href="/inv/add-inventory">Add New Inventory</a></li>
</ul>

<h2>Manage Inventory</h2>
<p>Select a classification from the list belonging to the classification</p>

<%- typeof classificationList !== 'undefined' ? classificationList : (typeof classificationSelect !== 'undefined' ? classificationSelect : '') %>

<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>